body {
    background-color: darkgray;
}

#calculator {
    position: relative;
    top: 5em;
    left: 5em;
}

button {
    width: 5em;
}

.container {
    width: 400px;
}

.extra-bottom-padding{
   margin-bottom: 10px;
}

#results {
    padding-bottom: 1em;
    width: 90%;
    background-color: white;
}

#resultsBox {
    margin-bottom: 5px;
    position: relative;

}

